<nav
  class="navbar navbar-expand-md bg-primary bg-opacity-30"
  id="navbar-admin"
  data-navbar-soft-on-scroll="data-navbar-soft-on-scroll"
>
  <div class="container-fluid px-0">
    <a class="navbar-brand fw-bold d-none d-md-block" href="/clients">
      Credit Bank
    </a>
    <button
      class="navbar-toggler border-0 pe-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-content"
      aria-controls="navbar-content"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-md-end"
      id="navbar-content"
      data-navbar-collapse="data-navbar-collapse"
    >
      <ul
        class="navbar-nav gap-md-2 gap-lg-3 pt-x1 pb-1 pt-md-0 pb-md-0"
        data-navbar-nav="data-navbar-nav"
      >
        <li class="nav-item">
          <a class="nav-link lh-xl" href="/clients">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lh-xl" href="/credits">Créditos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lh-xl" href="/banks">Bancos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lh-xl" href="/logout">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
